extends ../_layouts/main.pug

block content
  section.container.my-5
    .row.align-items-center
      .col-md-6.text-center.text-md-left
        h1 Imprint.
        p Solar Wallet is developed and operated by Solar Dev Ltd.
        p
          | We are registered in England and Wales under registration number 
          strong 16445692
          | .
        p Our registered office and principal of business are located at
        p
          | 71-75 Shelton Street
          br
          |           Covent Garden
          br
          |           London, WC2H 9JQ
          |           United Kingdom
        p
          | You can contact us by writing to the business address given above or by email to 
          a(href='mailto:info@solarwallet.io') info@solarwallet.io
          | .